/* Nav Bar */
.grid {
  display: grid;
}

/* Nav Bar List */
nav ul li {
  list-style-type: none;
}

/* CSS Grid Styles */
.grid-container {
  display: grid;
  justify-content: center;
  gap: 10%;
  width: 700px;
  margin: auto; /* centers grid */
}

.grid-item {
  margin: auto;
  align-content: center;
}

.title {
  background-color: lightblue;
}

.search {
  background-color: lightblue;
}

.searchbar {
  width: 200px;
  height: 30px;
}

.about {
  background-color: lightblue;
  border: 2px solid;
}

.about h2 {
  text-align: center;
}
